body {
	padding : 40px 350px;
	box-sizing : border-box;
}

.page-header {
	margin-left : -50px;
}

.jersey-img-wrapper {

}

.jersey-text {
	padding : 30px 30px;
}

.centered-text {
	text-align : center;
}

.underlined-header {
	text-decoration : underline;
}