body {
	padding : 40px 350px;
	box-sizing : border-box;
}

.page-header {
	margin-left : -50px;
}

img {
	display : block;
	margin-left : auto;
	margin-right : auto;
}

.jersey-text {
	padding : 30px 50px;
}

.centered-text {
	text-align : center;
}

.underlined-header {
	text-decoration : underline;
}

li {
	padding : 5px;
}

.bold {
	font-weight : 600;
}